## igone node_modules
node_modules

## ignore .vscod
.vscode

## ignore file in past temp
temp/*
!temp/gitkeep

coverange

## ignore file .env
.env

## ignore past dist
dist

## igonere configurations in basa dados
ormconfig.json

## ignore files npm / yarn 
package-lock.json
yarn-error.log
yarn.lock

